.letter-cell {
    -fx-border-color: black;
        -fx-border-style: solid;
        -fx-border-width: 2px;
}

.letter-cell > .label {
    -fx-font-size: 25;
}

.cell-char {
    -fx-font-size: 25;
}

.exist-bg {
    -fx-background-color: #c9b458;
}

.exact-bg {
    -fx-background-color: #6aaa64;
}

.not-exist-bg {
    -fx-background-color: #787c7e;
}

.kb-color {
    -fx-background-color: #eee;
}