.cell-char {
    -fx-font-size: 25;
    -fx-background-color: none;
}

.cell {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.exist-char {
    -fx-background-color: yellow;
}

.exact-char {
    -fx-background-color: green;
}

.not-exist-char {
    -fx-background-color: gray;
}